@model IEnumerable<GuestResponse>
@*@Repository.Responses*@

@{
    ViewBag.Title = "List";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="card card-body">
    <h2 class="text-center">List</h2>
    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Pnone</th>
                <th>Will attend</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gr in Model.ToList())
            {
                <tr>
                    <td>@gr.Name</td>
                    <td>@gr.Email</td>
                    <td>@gr.Phone</td>
                    <td>@gr.WillAttend</td>
                </tr>
            }
        </tbody>
    </table>
</div>