<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - SamProject</title>

    <environment include="Development">
        @*<link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous" />*@
        <link rel="stylesheet"
              href="~/vendor/bootstrap/dist/css/bootstrap.min.css" />

        @*<link rel="stylesheet" 
                href="https://cdn.syncfusion.com/ej2/bootstrap.css" />*@
        <link rel="stylesheet" 
              href="~/vendor/@@syncfusion/ej2/bootstrap.css" />
    </environment>
    
    <environment exclude="Development">
        <link rel="stylesheet"
              href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" 
              href="~/lib/@@syncfusion/ej2/bootstrap.css" />
    </environment>

    <link rel="stylesheet"
          href="~/css/site.min.css"
          asp-append-version="true" />

</head>
<body style="padding-top:0;">

    @*<partial name="_CookieConsentPartial" />*@

    <div style="margin: 10px 5%; height: 100%; ">
        @RenderBody()
    </div>

    <environment include="Development">
        @*<script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>*@
        <script src="~/vendor/jquery/dist/jquery.min.js"></script>

        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>*@
        <script src="~/vendor/popper.js/dist/umd/popper.min.js"></script>

        @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>*@
        <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

        @*<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>*@
        <script src="~/vendor/@@syncfusion/ej2/dist/ej2.min.js"></script>
    </environment>
    
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/css/bootstrap.min.js"></script>
        <script src="~/lib/@@syncfusion/ej2/dist/ej2.min.js"></script>
    </environment>
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    <ejs-scripts></ejs-scripts>

    @RenderSection("Scripts", required: false)
</body>
</html>
