@{
    ViewData["Title"] = "Bugged Page";
}





<div>Bug. See console.</div>







@section Scripts
    {

    <script>

        var xxx = f1();

        function f1(p1, p2, p3)
        {
            return f2(p1, p2, p3);
        }

        function f2(p1, p2, p3)
        {
            return f3(p1, p2, p3);
        }

        function f3(p1, p2, p3)
        {
            return f4(p1, p2, p3);
        }

        function f4(p1, p2, p3)
        {
            return f5(p1, p2, p3);
        }

        function f5(p1, p2, p3)
        {
            return f6(p1, p2, p3);
        }

        function f6(p1, p2, p3)
        {
            return f7(p1, p2, p3);
        }

        function f7(p1, p2, p3)
        {
            return f8(p1, p2, p3);
        }

        function f8(p1, p2, p3)
        {
            return f9(p1, p2, p3);
        }

        function f9(p1, p2, p3)
        {
            return p1.ERROR();
        }

    </script>

}