html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

table {
    border: 1px solid #ccc;
    border-spacing: 3px;
}

td, th {
    border: solid 1px #ccc;
}

.collapsed {
    border-collapse: collapse;
}

.separated {
    border-collapse: separate;
}
