@*<div>
    <div class="mb-1"
         style="display: flex;">

        <div style="margin-right: 10px; width: 100%;">
            <small class="text-muted">Новый комментарий</small>
            <div class="e-input-group">
                <input class="e-input"
                       placeholder="Введите комментарий"
                       type="text" />
            </div>
        </div>

        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
            <ejs-button id="SendCommentButton"
                        content="Отправить"
                        isPrimary="true"
                        type="button"></ejs-button>
        </div>

    </div>

    <div class="mb-0">

        <ejs-grid id="CommentsGrid"
                  dataSource="@ViewBag.CommentsGridDataSource"
                  allowReordering="true"
                  allowResizing="true"
                  allowPdfExport="true"
                  allowTextWrap="true"
                  height="257"
                  dataBound="commentsGridDataBound">

            <e-grid-textwrapsettings wrapMode="Content"></e-grid-textwrapsettings>

            <e-grid-columns>
                <e-grid-column field="Content"
                               headerText="Комментарий"
                               maxWidth="1000" 
                               minWidth="500"></e-grid-column>
                <e-grid-column field="Person.FullName"
                               headerText="Автор"></e-grid-column>
                <e-grid-column field="DateTimeOfPosting"
                               headerText="Оставлен"
                               format="yMMMd"></e-grid-column>
                <e-grid-column field="DateTimeOfModify"
                               headerText="Изменён"
                               format="yMMMd"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>
</div>





<script>

    document.getElementById("SendCommentButton").onclick = () => { alert("Демо-режим"); };

    function commentsGridDataBound(args) 
    {
        this.autoFitColumns(["Person.FullName", "DateTimeOfPosting", "DateTimeOfModify"]);
    }

</script>*@