@model RsApplication



@*<style>

    .demomenuFlexElement
    {
        margin-right: 6px;
    }

</style>





<div>
    <div class="mb-3">
        <div style="display:flex">

            <div class="demomenuFlexElement">
                <small class="text-muted">&nbsp;</small>
                <h4>Демоменю:</h4>
            </div>

            <div class="demomenuFlexElement">
                <div style="max-width: 175px;">
                    <small class="text-muted">Заявка</small>
                    <ejs-dropdownlist id="Applications"
                                      name="id"
                                      dataSource="@ViewBag.ApplicationsDataSource"
                                      value="@Model?.Id"
                                      popupHeight="220px"
                                      change="ddlApplicationsChange"
                                      placeholder="Выберите заявку">
                        <e-dropdownlist-fields text="Number"
                                               value="Id"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                </div>
            </div>

            <div>
                <small class="text-muted">Сброс демо</small>
                <div>
                    <ejs-button id="NewApplicationButton"
                                content="Новая заявка"
                                isPrimary="true"
                                type="button">
                    </ejs-button>
                </div>
            </div>
        </div>
    </div>
</div>




<script>

    function ddlApplicationsChange(param)
    {
        document.getElementById("MainForm").submit();
    }

    document.getElementById("NewApplicationButton").onclick = () =>
    {
        location.replace('@Url.Action("Form", "Home")');
    };

</script>*@