@{
    ViewData["Title"] = "Work Page";
}

<div>
    <p>
        <a href="@Url.Action("FirstPage", "Work")">First page</a>
    </p>
    <p>
        <a href="@Url.Action("SecondPage", "Work")">Second page</a>
    </p>
</div>
