@{
    ViewData["Title"] = "Work Page";
}

<div>
    
    @if ((await AuthorizationService.AuthorizeAsync(User, Policies.CanViewFirstPage)).Succeeded)
    {
        <p>
            <a href="@Url.Action("FirstPage", "Work")">First page</a>
        </p>
    }
    
    @if ((await AuthorizationService.AuthorizeAsync(User, Policies.CanViewThirdPage)).Succeeded)
    {
        <p>
            <a href="@Url.Action("ThirdPage", "Work")">Second page</a>
        </p>
    }

</div>
