@using Permissions.DAL.FakeRepository
@model Permissions.DAL.FakeRepository.Request

@{
    ViewData["Title"] = "SecondPage";
}

<div>
    <table>
        <tr>
            <th>Request Id</th>
            <th>Status</th>
            <th>Author</th>
        </tr>
        <tr>
            <td>@(Model.RequestId)</td>
            <td>@(Model.Status)</td>
            <td>@(Model.Author?.Name ?? "noname")</td>
        </tr>
    </table>
</div>

<div>
    @if (Model?.Status == RequestStatuses.New)
    {
        if ((await AuthorizationService.AuthorizeAsync(User, Policies.CanApproveRequests)).Succeeded)
        {
            <button>Approve</button>
        }

        if ((await AuthorizationService.AuthorizeAsync(User, Policies.CanRejectRequests)).Succeeded)
        {
            <button>Reject</button>
        }
    }
    else if (Model?.Status == RequestStatuses.Approved)
    {
        if ((await AuthorizationService.AuthorizeAsync(User, Policies.CanRejectApprovedRequests)).Succeeded)
        {
            <button>Reject</button>
        }
    }
    
    @if (Model?.Status == RequestStatuses.Rejected)
    {
        if 
        (
            (await AuthorizationService.AuthorizeAsync(User, Policies.CanApproveRejectedRequests)).Succeeded
            && (await AuthorizationService.AuthorizeAsync(User, Model.RequestId, Policies.CanApproveThisRequest)).Succeeded
        )
        {
            <button>Approve</button>
        }
    }
</div>