header > p /*непосредственные дочерние элементы*/
{
    color: blue;
}

main p + div /*на одном уровне и строго соседний и следующий за*/
{
    color: red;
}

aside p ~ div /*все смежные элементы одного уровня следующие за*/
{
    color: blueviolet;
}

footer p /*на любой глубине*/
{
    color: green;
}

:lang(ru)
{
    color: red;
}

/*
    div.class{} - div with class "class"
    div .class{} - div's children with class "class"
*/

/*
    :root: позволяет выбрать корневой элемент веб-страницы, наверное наименее полезный селектор, так как на правильной веб-странице корневым элементом практически всегда является элемент <html>

    :link: применяется к ссылкам и представляет ссылку в обычном состоянии, по которой еще не совершен переход
    
    :visited: применяется к ссылкам и представляет ссылку, по которой пользователь уже переходил
    
    :active: применяется к ссылкам и представляет ссылку в тот момент, когда пользователь осуществляет по ней переход
    
    :hover: представляет элемент, на который пользователь навел указатель мыши. Применяется преимущественно к ссылкам, однако может также применяться и к другим элементам, например, к параграфам
    
    :focus: представляет элемент, который получает фокус, то есть когда пользователь нажимает клавишу табуляции или нажимает кнопкой мыши на поле ввода (например, текстовое поле)
    
    :not: позволяет исключить элементы из списка элементов, к которым применяется стиль a:not(.blueLink)
    
    :lang: стилизует элементы на основании значения атрибута lang
    
    :empty: выбирает элементы, которые не имеют вложенных элементов, то есть являются пустыми

    
    :first-child: представляет элемент, который является первым дочерним элементом

    :last-child: представляет элемент, который является последним дочерним элементом
    
    :only-child: представляет элемент, который является единственным дочерним элементом в каком-нибудь контейнере
    
    :only-of-type: выбирает элемент, который является единственным элементом определенного типа (тега) в каком-нибудь контейнере
    
    :nth-child(n): представляет дочерний элемент, который имеет определенный номер n, например, второй дочерний элемент
    
    :nth-last-child(n): представляет дочерний элемент, который имеет определенный номер n, начиная с конца
    
    :nth-of-type(n): выбирает дочерний элемент определенного типа, который имеет определенный номер
    
    :nth-last-of-type(n): выбирает дочерний элемент определенного типа, который имеет определенный номер, начиная с конца


    :enabled: выбирает элемент, если он доступен для выбора (то есть у него не установлен атрибут disabled)

    :disabled: выбирает элемент, если он не доступен для выбора (то есть у него установлен атрибут disabled)
    
    :checked: выбирает элемент, если у него установлен атрибут checked (для флажков и радиокнопок)
    
    :default: выбирает элементы по умолчанию
    
    :valid: выбирает элемент, если его значение проходит валидацию HTML5
    
    :invalid: выбирает элемент, если его значение не проходит валидацию
    
    :in-range: выбирает элемент, если его значение находится в определенном диапазоне (для элементов типа ползунка)
    
    :out-of-range: выбирает элемент, если его значение не находится в определенном диапазоне
    
    :required: выбирает элемент, если у него установлен атрибут required
    
    :optional: выбирает элемент, если у него не установлен атрибут required

    селекторы атрибутов
            input[type="text"]
            .link[href="http://apple.com"]
            a[href^="https://"] - ^ позволяет выбрать все атрибуты, которые начинаются на определенный текст
            img[src$=".jpg"] - Если значение атрибута должно иметь в конце определенный текст, то для проверки используется символ $
            a[href*="microsoft"] - * позволяет выбрать все элементы с атрибутами, которые в своем значении имеют определенный текст
*/


/*
    ::first-letter: позволяет выбрать первую букву из текста  ::first-letter { color:red; font-size: 25px; }

    ::first-line: стилизует первую строку текста
    
    ::before: добавляет сообщение до определенного элемента  .warning::before{ content: "Важно! "; font-weight: bold; }
    
    ::after: добавляет сообщение после определенного элемента  .warning::after { content: " Будьте осторожны!"; font-weight: bold;}
    
    ::selection: выбирает выбранные пользователем элементы
*/

/*
    При нескольких уровнях вложенности элементы наследуют стили только ближайшего контейнера.

    Селекторы тегов имеют важность, оцениваемую в 1 балл

    Селекторы классов, атрибутов и псевдоклассов оцениваются в 10 баллов

    Селекторы идентификаторов оцениваются в 100 баллов

    Встроенные inline-стили (задаваемые через атрибут style) оцениваются в 1000 баллов

    Правило !important предоставляет возможность полностью отменить значимость стилей.
*/