@model RsApplication



<div>
    <ejs-accordion id="AmOzsApplicationsGridAccordion">
        <e-accordion-accordionitems>
            <e-accordion-accordionitem expanded="true"
                                       header="Заявления на ОЗС за период"
                                       content="#AmOzsApplicationsCrossingGridDiv">
            </e-accordion-accordionitem>
        </e-accordion-accordionitems>
    </ejs-accordion>

    <div id="AmOzsApplicationsCrossingGridDiv"
         style="display: none;">

        <ejs-grid id="AmOzsApplicationsGrid"
                  allowPaging="true"
                  allowReordering="true"
                  allowResizing="true"
                  allowSorting="true"
                  showColumnMenu="true"
                  allowGrouping="true"
                  allowFiltering="true"
                  allowMultiSorting="true"
                  allowExcelExport="true"
                  allowPdfExport="true"
                  allowRowDragAndDrop="true"
                  enableAltRow="true"
                  allowSelection="true"
                  toolbar="@(new List<string> {"Search"})"
                  dataBound="amOzsApplicationsGridDataBound">

            <e-data-manager url="@(Url.Action("AmOzsGridDataSource", "Home", new {id = Model.Id, beginDate = Model.BeginDate, endDate = Model.EndDate, rate = Model.Rate.Type}))"
                            adaptor="UrlAdaptor"></e-data-manager>

            <e-grid-pagesettings pageSize="10.0"
                                 pageSizes="@(new[] {"5", "10", "20", "All"})"></e-grid-pagesettings>

            <e-grid-filterSettings mode="Immediate"
                                   immediateModeDelay="200.0"
                                   type="FilterBar"></e-grid-filterSettings>

            <e-grid-columns>
                <e-grid-column field="Id"
                               isPrimaryKey="true"
                               visible="false"></e-grid-column>
                <e-grid-column field="Number"
                               headerText="Номер"
                               width="30"></e-grid-column>
                @*<e-grid-column field="Person.FullName"
            headerText="Сотрудник"
            width="30"></e-grid-column>*@
                <e-grid-column field="BeginDate"
                               headerText="Начало"
                               width="40"
                               format="yMMMd"></e-grid-column>
                <e-grid-column field="EndDate"
                               headerText="Завершение"
                               width="40"
                               format="yMMMd"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>
</div>





<script>

    function amOzsApplicationsGridDataBound(args) 
    {
        this.autoFitColumns();
    }

</script>