@model RsApplication



@{
    var filterOperators = new[] { new { @operator = "contains" } };

    List<object> filterColumns = new List<object>();
    filterColumns.Add(new { field = "ApplicationStatus", matchCase = false, @operator = "contains" });
}





<style>
    .e-grid .e-headercell .customcss
    {
        background-color: #2382c3 !important;
        color: white !important;
        font-family: 'Bell MT' !important;
        font-size: 20px !important;
    }

    .clickableNumber 
    {
        color: cornflowerblue;
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
    }

    .clickableNumber:hover 
    {
        color: orange;
    }

</style>





<script>

    function crossingGridDataBound(args)
    {
        console.log("crossingGridDataBound");

        //var grid =
        //    document
        //        .getElementById("CrossingGrid")
        //        .ej2_instances[0];

        //grid.refresh();

        this.autoFitColumns();
    }

    function setAppIdAndSubmit(appId)
    {
        console.log("setAppIdAndSubmit");

        document.getElementById("currentAppId").value = appId;
        document.getElementById("MainForm").submit();
    }

</script>







<div>
    <ejs-accordion id="CrossingGridAccordion">
        <e-accordion-accordionitems>
            <e-accordion-accordionitem expanded="true"
                                       header="Пересекающиеся заявки"
                                       content="#CrossingGridDiv">
            </e-accordion-accordionitem>
        </e-accordion-accordionitems>
    </ejs-accordion>

    <div id="CrossingGridDiv"
         style="display: none;">

        <ejs-grid id="CrossingGrid"
                  allowPaging="true"
                  allowReordering="true"
                  allowResizing="true"
                  allowSorting="true"
                  showColumnMenu="true"
                  allowGrouping="true"
                  allowFiltering="true"
                  allowMultiSorting="true"
                  allowExcelExport="true"
                  allowPdfExport="true"
                  allowRowDragAndDrop="true"
                  enableAltRow="true"
                  allowSelection="true"
                  toolbar="@(new List<string> {"Search"})"
                  dataBound="crossingGridDataBound">

            <e-data-manager url="@(Url.Action("CrossingGridDataSource", "Home", new {id = Model.Id, beginDate = Model.BeginDate, endDate = Model.EndDate, rate = Model.Rate.Type}))"
                            adaptor="UrlAdaptor"></e-data-manager>

            <e-grid-pagesettings pageSize="10.0"
                                 pageSizes="@(new[] {"5", "10", "20", "All"})"></e-grid-pagesettings>

            <e-grid-filterSettings mode="Immediate"
                                   immediateModeDelay="200.0"
                                   type="FilterBar"></e-grid-filterSettings>

            <e-grid-columns>
                <e-grid-column field="Id"
                               isPrimaryKey="true"
                               visible="false"></e-grid-column>
                <e-grid-column field="Number"
                               customAttributes="@(new {@class = "customcss"})"
                               headerText="Номер"
                               width="30"
                               template="#numberTemplate"></e-grid-column>
                <e-grid-column field="ApplicationStatus.Name"
                               headerText="Статус"
                               width="50"></e-grid-column>
                <e-grid-column field="Project.Name"
                               headerText="Проект"
                               width="50"></e-grid-column>
                @*<e-grid-column field="Specialty.Name"
                               headerText="Специальность"
                               width="50"></e-grid-column>*@
                @*<e-grid-column field="Qualification.Name"
                               headerText="Квалификация"
                               width="40"></e-grid-column>*@
                <e-grid-column field="Rate.Name"
                               headerText="Ставка"
                               width="30"></e-grid-column>
                <e-grid-column field="Hours"
                               headerText="Часов"
                               width="30"></e-grid-column>
                @*<e-grid-column field="Candidate.FullName"
                               headerText="Кандидат"
                               width="50"></e-grid-column>*@
                <e-grid-column field="BeginDate"
                               headerText="Начало"
                               width="40"
                               format="yMMMd"></e-grid-column>
                <e-grid-column field="EndDate"
                               headerText="Завершение"
                               width="40"
                               format="yMMMd"></e-grid-column>
                <e-grid-column field="ProjectManager.FullName"
                               headerText="Руководитель проекта"
                               width="50"></e-grid-column>
                <e-grid-column field="Smd.FullName"
                               headerText="SMD"
                               width="50"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>
</div>




<script id="numberTemplate" type="text/x-template">
    <div class="clickableNumber"
         onclick=setAppIdAndSubmit(${Id})>
        ${Number}
    </div>
</script>