@{
    ViewData["Title"] = "Form";
}

<div>
    Заявка
</div>

<form>
    <div class="container">

        <div class="row">
            <div class="col">
                <div style="width: 200px; height: 300px; border: 1px solid black">

                </div>
            </div>
            <div class="col">
                <div style="width: 200px; height: 300px; border: 1px solid black">

                </div>
            </div>
            <div class="col">
                <div style="width: 500px; height: 300px;">
                    <partial name="Chart" />
                </div>
            </div>
        </div>

        <br />
        <div>Описание</div>
        <div class="row">
            <div class="col">
                <textarea style="width:100%;"></textarea>
            </div>
        </div>

        <br />
        <div>Новый комментарий</div>
        <div class="row">
            <div class="col">
                <textarea style="width:100%;"></textarea>
            </div>
        </div>

    </div>
</form>




