@{
    ViewData["Title"] = "Form";
}

@model Application

<partial name="DemoMenu" />

<form id="MainForm"
      asp-action="Create"
      asp-controller="Home"
      asp-antiforgery="true"
      class="needs-validation w-100">

    <div>
        <partial name="ApplicationHeader" />

        <div class="row mb-3">
            <div class="col-md-4">
                <partial name="Project" />
                <partial name="ApplicationInfo" />
                <partial name="Candidate" />
            </div>

            <div class="col-md-8">
                <partial name="Comments" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <partial name="Chart" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <partial name="Grid" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <partial name="AmRateApplicationsGrid" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <partial name="AmOzsApplicationsGrid" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <partial name="Buttons" />
            </div>
        </div>
    </div>
</form>






<script>

    function beginDateChange(obj)
    {
        console.log("bd");
    }

    function endDateChange(obj)
    {
        console.log("ed");
    }

    function ddlApplicationsChange(param)
    {
        $("#ApplicationForm").submit();
    }

</script>


