@model RsApplication

@{
    ViewData["Title"] = "Form";

    var elementDisplay = Model is null
                             ? "none"
                             : "block";
}




<style>

    .gradientlyHr
    {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

</style>



<div>
    <partial name="DemoMenu" />

    <hr class="gradientlyHr" />

    <form id="MainForm"
          asp-action="Create"
          asp-controller="Home"
          asp-antiforgery="true"
          class="needs-validation w-100">

        <div>
            <partial name="ApplicationHeader" />

            <hr class="gradientlyHr" />

            <div class="row mb-3">
                <div class="col-md-4">
                    <partial name="Project" />
                    <partial name="ApplicationInfo" />
                    <partial name="Candidate" />
                </div>

                <div class="col-md-8">
                    <partial name="Comments" />
                </div>
            </div>

            <hr class="gradientlyHr"
                style="display: @elementDisplay"/>

            <div class="row mb-3"
                 style="display: @elementDisplay">
                <div class="col">
                    <partial name="Chart" />
                </div>
            </div>

            <hr class="gradientlyHr"
                style="display: @elementDisplay" />

            <div class="row">
                <div class="col">
                    <partial name="CrossingGrid" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <partial name="AmRateApplicationsGrid" />
                </div>

                <div class="col-md-6">
                    <partial name="AmOzsApplicationsGrid" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <partial name="Buttons" />
                </div>
            </div>
        </div>
    </form>
</div>






<script>

    function beginDateChange(obj)
    {
        console.log("bd");
    }

    function endDateChange(obj)
    {
        console.log("ed");
    }

    function ddlApplicationsChange(param)
    {
        $("#ApplicationForm").submit();
    }

</script>


