@{
    ViewData["Title"] = "Form";
}



<form asp-action="Create"
      asp-controller="Home"
      asp-antiforgery="true"
      class="needs-validation w-100">


    <div>

        <h4 class="mb-3">Заявка</h4>

        <div class="row">

            <div class="col-md-4"
                 style="border-right: 1px solid gray;">

                <div class="row">
                    <small class="col-md-2 text-muted">Номер</small>
                    <div class="col-md-10">3</div>
                </div>

                <div class="row mb-3">
                    <small class="col-md-2 text-muted">Статус</small>
                    <div class="col-md-10">Создание запроса</div>
                </div>

                <div class="mb-3">
                    <small class="text-muted">
                        <label>Проект</label>
                    </small>
                    <select class="form-control">
                        <option value="1">1stquad</option>
                        <option value="2">2ndquad</option>
                        <option value="3">3rdquad</option>
                    </select>
                </div>

                <div class="mb-3">
                    <small class="text-muted">Заказчик</small>
                    <div>1stQuad Solutions GmbH</div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <small class="text-muted">Подразделение</small>
                        <div>PC09</div>
                    </div>
                    <div class="col-md-6">
                        <small class="text-muted">Рынок</small>
                        <div>DE</div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <small class="text-muted">SMD</small>
                        <div>Сидоренко Александр</div>
                    </div>
                    <div class="col-md-6">
                        <small class="text-muted">Руководитель проекта</small>
                        <div>Лесогорова Ольга Леонидовна</div>
                    </div>
                </div>

            </div>

            <div class="col-md-4"
                 style="border-right: 1px solid gray;">

                <div class="row mb-3">
                    <div class="col-md-6">
                        <small class="text-muted">Начало</small>
                        <input type="date"
                               name="beginDate"
                               value="2018-07-04"
                               class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <small class="text-muted">Завершение</small>
                        <input type="date"
                               name="endDate"
                               value="2018-07-11"
                               class="form-control" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <small class="text-muted">Ставка</small>
                        <select name="rate"
                                class="form-control">
                            <option value="1">0.25</option>
                            <option value="1">0.5</option>
                            <option value="1">0.75</option>
                            <option value="1">1</option>
                            <option value="1">1.25</option>
                            <option value="1">1.5</option>
                            <option value="1">1.75</option>
                            <option value="1">2</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <small class="text-muted">Количество часов</small>
                        <input type="number"
                               name="hours"
                               value="12"
                               class="form-control" />
                    </div>
                </div>

                <div class="mb-3">
                    <small class="text-muted">
                        <label>Кандидат</label>
                    </small>
                    <select class="form-control">
                        <option value="1">Адамович Кирилл Михайлович</option>
                    </select>
                </div>

                <div class="mb-3">
                    <small class="text-muted">
                        <label>Специальность</label>
                    </small>
                    <select class="form-control">
                        <option value="1">Программист</option>
                        <option value="2">Программизд</option>
                    </select>
                </div>

                <div class="mb-3">
                    <small class="text-muted">
                        <label>Квалификация</label>
                    </small>
                    <select class="form-control">
                        <option value="1">Бог</option>
                        <option value="2">Сеньор</option>
                        <option value="3">Мидл</option>
                        <option value="4">Джуниор</option>
                        <option value="5">Отстой</option>
                    </select>
                </div>

            </div>

            <div class="col-md-4">

                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="setPeriod"
                                   name="setPeriod"
                                   value="optional">
                            <label class="custom-control-label"
                                   for="setPeriod">Задать период</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="date"
                               name="periodStart"
                               value="2018-07-01"
                               class="form-control" />
                    </div>

                    @*<span> - </span>*@

                    <div class="col-md-4">
                        <input type="date"
                               name="periodEnd"
                               value="2018-07-11"
                               class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <div>Детализация по:</div>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="1">Дням</option>
                            <option value="1">Неделям</option>
                            <option value="1">Месяцам</option>
                            <option value="1">Годам</option>
                            <option value="1">Столетиям</option>
                            <option value="1">Вечности</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox"
                               id="onPeriod"
                               name="onPeriod"
                               value="optional"
                               class="custom-control-input" />
                        <label for="onPeriod"
                               class="custom-control-label">На период действия заявки</label>
                    </div>
                </div>

                <div class="mb-3">
                    <partial name="Chart" />
                </div>

            </div>

        </div>

        <br />
        <div>Описание</div>
        <div class="row">
            <div class="col">
                <textarea style="width: 100%;"></textarea>
            </div>
        </div>

        <br />
        <div>Новый комментарий</div>
        <div class="row">
            <div class="col">
                <textarea style="width: 100%;"></textarea>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <input type="button"
                       name="but1"
                       value="Назад"
                       class="btn btn-primary" 
                       style="margin-bottom:3px;"/>

                <input type="submit"
                       name="save"
                       value="Отправить"
                       class="btn btn-primary"
                       style="margin-bottom:3px;"/>

                <input type="button"
                       name="but2"
                       value="Одобрить"
                       class="btn btn-primary"
                       style="margin-bottom:3px;"/>


                <input type="button"
                       name="but3"
                       value="Черновик"
                       class="btn btn-primary"
                       style="margin-bottom:3px;"/></div>

        </div>


    </div>
</form>

@*@model TagHelpersStudyApp.Models.Phone

    <h2>Добавление телефона</h2>

    <form asp-action="Create" asp-controller="Home" asp-antiforgery="true">
        <div>
            <div>
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" />
            </div>
            <div>
                <label asp-for="Price"></label>
                <input asp-for="Price" />
            </div>
            <div>
                <label asp-for="CompanyId"></label>
                <select asp-for="CompanyId" asp-items="ViewBag.Companies"></select>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </div>
    </form>*@


