@{
    ViewData["Title"] = "Home Page";
}

<style>
    html, body, mainBodyDiv
    {
        width: 100%;
        height: 100%;
    }
</style>

<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; flex-direction: column;">
    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <a asp-action="Form" asp-controller="Home" style="font-size: 40px">Form</a>
    </div>
</div>


