@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <a asp-action="Form" asp-controller="Home" style="font-size: 40px">Form</a>
    </div>
    <div>
        <a asp-action="Grid" asp-controller="Home" style="font-size: 40px">Grid</a>
    </div>
</div>


