@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-action="Form" asp-controller="Home" style="font-size:40px">Form</a>
    <a asp-action="Grid" asp-controller="Home" style="font-size:40px">Form</a>
</div>


