@{
    ViewData["Title"] = "Home Page";
}

<div>

    <partial name="Ko01" />
    <partial name="Ko02" />
    <partial name="Ko03" />
    
    @section Scripts
    {
        <script type="text/javascript" src="~/js/Ko01.js"></script>
        <script type="text/javascript" src="~/js/Ko02.js"></script>
        <script type="text/javascript" src="~/js/Ko03.js"></script>
    }

</div>
